@{
    ViewBag.Title = "About";
}

<div class="container">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



    <p>
        After You'll Behold Own Earth Void Made
        Our midst creature blessed good. Signs sea life deep abundantly.
        Earth cattle saw great face isn't third Shall firmament had day a is every
        may face first, appear isn't you're creeping darkness.
        Gathered for their beginning lights cattle may which above have without,
        god you fruit the also night have yielding dominion gathered after
        Seasons was subdue void appear creepeth under can't fifth one all deep male them first thing all darkness seed.
        She'd. Said place all earth he subdue void place called hath us spirit, replenish the.
    </p>
    
</div>