@model List<Assignment_2.Models.AnnouncementViewModel>

@{
    ViewBag.Title = "Home Page";
}

@foreach (var m in Model)

{
    <i class="fa fa-flag pull-left fa-4x"></i>
    <div class="alert alert-danger">
        <h1>  <strong> @m.Title  @m.DateCreated</strong></h1>
        @m.Message
        <h5>  @m.DateCreated </h5>
    </div>
}