
@{
    ViewBag.Title = "InfoUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Current Details</h2>

      <h1>Name =      @ViewBag.name</h1>
      <h1>Phone =       @ViewBag.email</h1>
       <h1>Number =      @ViewBag.number</h1>