@{
    ViewBag.Title = "Chapter 8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Learn Javascript
                <small>Chapter-8</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <iframe src="https://www.youtube.com/embed/BgtdojEoWFI" class="img-responsive video-div" allowfullscreen></iframe>




        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Some Javescript Basics : Chapter-8</h2>
<textarea name="chapter1" cols=”80″ rows=”85″ class=" text-val" disabled>                
<script>
    document.write(Date());
</script>
</textarea> <br />
            <br/>
            <li class="btn btn-warning buttons"> <b>  @Html.ActionLink("<< Prev", "Chapter7", "JavascriptBeginner", new { @class = "buttons" })</b></li> <li class="btn btn-warning buttons"> <b>  @Html.ActionLink("Next >>", "Chapter9", "JavascriptBeginner", new { @class = "buttons" })</b></li>

        </div>
        <div class="col-md-4">
            <h2 class="page-header">Want to try yourself!</h2>
            <p>You can test your javascript code in a editor to see the output from the code.</p>
            @using (Html.BeginForm("Editor", "Home", FormMethod.Post, new { target = "_blank" }))
            {

                <textarea hidden name="editorValue" cols=”80″ rows=”85″ class=" text-val"> 
                <!DOCTYPE html>



<html>
<body>

<script>
    document.write(Date());
</script>

</body>
</html> 
                    
 </textarea>

                <button type="submit" class="btn btn-warning">Try Now!</button>
            }
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">More Courses</h2>
        </div>
        <div class="col-sm-4">
            <img src="https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png" class="img-responsive">
            <h3>HTML</h3>
            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">
            <img src="https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png" class="img-responsive">
            <h3>CSS</h3>
            <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">
            <img src="https://s3-eu-west-1.amazonaws.com/course.oc-static.com/courses/2479876/14570828119302_illu-cours_html5-css3.png" class="img-responsive">
            <h3>jquery</h3>
            <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!-- /.row -->
</div>





