
@{
    ViewBag.Title = "JavaScript Startup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="div-video_dashbord">
    <div class="inner-dashbord">
        <div class="content-display">
            <div class="img-display">

                <img class="display-img" src="http://physicaltherapist.pro/wp-content/uploads/2016/06/iStock_000072605793_Large.jpg" />

            </div><div class="controls-dispay">
                <h2>Lecture 1 : Javascript Basics</h2>
                <button class="btn btn-danger"> Next lesson >></button>



                <span><h3>1 of 10 items complete </h3></span>
                <div class="progress" width="700px">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10"
                         aria-valuemin="0" aria-valuemax="100" style="width:10%">
                        10% Complete
                    </div>
                </div>

                <button class="btn btn-danger">Reset Progress</button>



            </div>
        </div>
    </div>

</div>
<nav class="nav nav-inverse" style="background:white; border-top:2px solid black; margin-top: 15px; border:1px solid white; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="navv"><b>Overview</b></a></li>
            <li><a href="#" class="navv"><b>Course Content</b></a></li>
            <li><a href="#" class="navv"><b>Groups</b></a></li>
            <li><a href="#" class="navv"><b>Announcements</b></a></li>
        </ul>
    </div>
</nav>
<div style="min-height:1000px; background-color:#f2f3f5;"> </div>

