@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Add New Role";
    Layout = "~/Views/Shared/_LayoutOperation.cshtml";
}



<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Add Role</h1>

    @using (Html.BeginForm())
    {
        @*<p> Enter User Role Name:</p>

        @Html.EditorFor(m => m.Name)
        <input name="Name" class="form-control" id="Name" type="text" value="">
        <button class="btn btn-primary" type="submit">Create</button>*@
       
        <div class=" col-sm-5 well">
            <h4>Role Name</h4>
            <div class="input-group">
                <input name="Name" class="form-control" id="Name" type="text" value="">

                <span class="input-group-btn">
                    <button class="btn btn-primary" onclick="$('#dummy').click();" type="submit">Create</button>
                </span>

            </div>
            <!-- /input-group -->
        </div>
    }

    


</div>



